Package: @@PACKAGE_NAME@@
Version: @@VERSION@@
Section: admin
Priority: optional
Architecture: @@ARCH@@
Installed-Size: @@SIZE@@
Maintainer: lukas@pustina.net
Description: Ceres the goddess of agriculture, grain crops, fertility and motherly relationships.

